/* font-family: "Nunito", sans-serif;
font-family: "Work Sans", sans-serif; */

body, h1, h2, h3, h4, h5, h6, a, li, ul, button{
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#welcome-catalog {
  font-family: "Nunito", sans-serif;
  position: relative;
  background-color: #182527;
  width: 100%;
  height: 580px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

#welcome-catalog h6 {
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 1.1rem;
  color: #ffffff;
  border-left: 3px solid #20cd8d;
  padding-left: 5px;
  cursor: pointer;
}

.catalog-grid {
  display: grid;
  grid-template-columns: 2.4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100%;
}

.heading {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.heading h1 {
  color: #fff;
  /* წაშალე width აქ, სიტყვებს ინდივიდუალურად დავუსაწესებთ */
  font-size: 5rem;
  line-height: 1;
  margin: 0;
}

.word {
  display: block;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.decoration {
  color: #20cd8d;
}


.watchnames {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
}

.watchnames img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.watchnames img:hover {
  transform: scale(1.08);
}

.watchnames h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: #20cd8e69;
  color: #182527;
  padding: 5px;
  font-size: 1.2rem;
}

.classic {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.sport {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.automatic {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.smartwatch {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.quartz {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.luxury {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

@media (max-width: 830px) and (min-width: 700px){
#welcome-catalog {
  height: 480px;
}

.heading h1 {
  font-size: 3.7rem;
}

.catalog-grid {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.watchnames h2 {
  font-size: 1rem;
}
}

@media (max-width: 699px){
#welcome-catalog {
  padding: 10px;
}

#welcome-catalog h6 {
  font-size: 1rem;
}

.catalog-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 1fr 1fr;
  margin-top: 20px;
}

.heading {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin-left: 0;
  align-items: flex-end;
  justify-content: center;
}

.heading h1 {
  font-size: 2.7rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.word {
  display: inline;
}

.watchnames h2 {
  font-size: 0.8rem;
  left: 5px;
  right: 5px;
}

.classic {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.sport {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.automatic {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.smartwatch {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.quartz {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.luxury {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
}

.filter{
  width: 100%;
  height: 100px;
  position: relative;
  margin-top: 40px;
  font-family: "Work Sans", sans-serif;
}

.filter-container{
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  border: 2px solid #ababab81;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-layout{
  margin-left: 10px;
}

.view-layout *{
  height: 30px;
  width: 30px;
  border: none;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
}

.filter-inputs *{
  margin-right: 10px;
  border: 1px solid #ababab81;
  padding-left: 10px;
  height: 30px;
}

.filter-inputs input{
  max-width: 300px;
  width: auto;
}

.filter-inputs label{
  font-size: 1rem;
  color: #182527;
  border: none;
}

#view-layout-grid{
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 10px;
  font-family: "Work Sans", sans-serif;
}

.view-layout-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item{
  border: 1px solid #ababab81;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 20px;
  color: #182527;
}

.item img{
  object-fit: cover;
  width: auto;
  max-width: 200px;
  border-bottom: 1px solid #ababab81;
  padding-bottom: 10px;
}

.item h1{
  font-size: 1.2rem;
  margin-top: 10px;
}

.item .price{
  font-size: 2rem;
  margin-top: 5px;
}

.item button{
  font-size: 1.5rem;
  padding: 5px 25px;
  border: 1px solid #20cd8d;
  color: #20cd8d;
  background-color: #ffffff;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.item button:hover{
  background-color: #20cd8d;
  color: #182527;
  transform: scale(1.05);
}

@media (max-width: 770px) and (min-width: 473px){
.filter-inputs label{
  display: none;
}
}

@media (max-width: 472px) {
.filter-inputs label{
  display: none;
}

.filter-inputs{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
}


#view-layout-list{
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 10px;
  font-family: "Work Sans", sans-serif;
}

.list-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
}

.list-item{
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: 1px solid #ababab81;
  border-radius: 10px;
  width: 100%;
}

.list-item img{
  height: 250px;
}

.list-item h1{
  font-size: 1.3rem;
  margin-top: 10px;
}

.list-item .price{
  font-size: 2rem;
}

.btn-list{
  font-size: 1.5rem;
  padding: 5px 25px;
  border: 1px solid #20cd8d;
  color: #20cd8d;
  background-color: #ffffff;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.list-item p{
  font-size: 0.8rem;
  color: #585858ce;
}

.btn-list:hover{
  background-color: #20cd8d;
  color: #182527;
  transform: scale(1.05);
}

@media (max-width: 602px) {
.list-item{
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-item img{
  height: 150px;
}

.list-item h1{
  font-size: 1rem;
}

.list-item price{
  font-size: 1.2rem;
}

.list-item button{
  font-size: 1.2rem;
}

.list-item p{
  font-size: 0.8rem;
}
}

@media (max-width: 425px) {
.list-item{
  flex-direction: column;
}

.list-item div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

}